
{% extends "home.html" %}

{% block body %}

<div class = "main">
	<div class = "container-fluid">
		<div class = "row">	
			<div class = "col-md-12 text-center">
				<h1>{{msg}}</h1>
			</div>
		</div>
	</div>
</div>

<div class = "container">
		<form>
			<div class="form-group">
				<label for="message">Message:</label>
				<input type="text" class="form-control" id="message">
			</div>

			<div class="form-group">
				<label for="poi">Points of Interest:</label>
				<textarea class="form-control" id="poi"></textarea>
			</div>
		</form>
</div>

{% endblock %}